<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<body>
    <h1><center>CHOOSE YOUR ROLE</center></h1>
    <center><ul>
                <li>
                    @Html.ActionLink("Admin", "Index", "Admin") 
                </li>
                <li>
                    @Html.ActionLink("Trainning Staff", "Index", "TrainningStaff") 
                </li>
                <li>
                    @Html.ActionLink("Trainer and Trainee", "Index", "TrainerandTrainee")
                </li>
</ul></center>
    

</body>
</html>